body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

.signup-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.signup-container h3 {
  text-align: center;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container input[type='text'],
.signup-container input[type='password'] {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-container button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup-container button[type='submit']:hover {
  background-color: #0056b3;
}
button {
  text-align: center;
  margin-top: 10px;
}
